
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header">
    @*<h1 class="header-title">
        Welcome back,  @if (@Session["User_Name"] != null)
        {@Session["User_Name"]}!
    </h1>*@
    @*<p class="header-subtitle">You have 24 new messages and 5 new notifications.</p>*@
</div>

<div class="row">
    <div class="col-xl-12 col-xxl-12 d-flex">
        <div class="w-100">
            <div class="row">
                <div class="col-sm-2">
                    <div class="card" style="background-color: #eb1060; color: white;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col mt-0">
                                    @*<h5 class="card-title">@DateTime.Now.ToString("yyyy, MMM")</h5>*@
                                </div>
                                <div class="col-auto">
                                    <div class="avatar">
                                        <div class="avatar-title rounded-circle bg-primary-dark">
                                            <i class="align-middle" data-feather="crosshair"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h1 class="display-5 mt-1 mb-3"><label id="t1">0</label> </h1>
                            <div class="mb-0">
                                <span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i></span>
                                Today's Complaints
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card" style="background-color: #5038f9; color: white; ">
                        <div class="card-body">
                            <div class="row">
                                <div class="col mt-0">
                                    @*<h5 class="card-title">@DateTime.Now.AddMonths(-1).ToString("yyyy, MMM")</h5>*@
                                </div>
                                <div class="col-auto">
                                    <div class="avatar">
                                        <div class="avatar-title rounded-circle bg-primary-dark">
                                            <i class="align-middle" data-feather="crosshair"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h1 class="display-5 mt-1 mb-3"><label id="t2">0</label></h1>
                            <div class="mb-0">
                                <span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i></span>
                                Today's' Pending Complaints
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card" style="background-color: #eda215; color: white;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col mt-0">
                                    @*<h5 class="card-title">@DateTime.Now.ToString("yyyy, MMM")</h5>*@
                                </div>
                                <div class="col-auto">
                                    <div class="avatar">
                                        <div class="avatar-title rounded-circle bg-primary-dark">
                                            <i class="align-middle" data-feather="crosshair"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h1 class="display-5 mt-1 mb-3"><label id="t3">0</label> </h1>
                            <div class="mb-0">
                                <span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i></span>
                                Previous Pending Complaints
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card" style="background-color: #159bed; color: white;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col mt-0">
                                    @*<h5 class="card-title">@DateTime.Now.AddMonths(-1).ToString("yyyy, MMM")</h5>*@
                                </div>
                                <div class="col-auto">
                                    <div class="avatar">
                                        <div class="avatar-title rounded-circle bg-primary-dark">
                                            <i class="align-middle" data-feather="crosshair"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h1 class="display-5 mt-1 mb-3"><label id="t4">0</label></h1>
                            <div class="mb-0">
                                <span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i></span>
                                Total Pending Complaints
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card" style="background-color: #26bb5f; color: white;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col mt-0">
                                    @*<h5 class="card-title">@DateTime.Now.ToString("yyyy, MMM")</h5>*@
                                </div>
                                <div class="col-auto">
                                    <div class="avatar">
                                        <div class="avatar-title rounded-circle bg-primary-dark">
                                            <i class="align-middle" data-feather="crosshair"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h1 class="display-5 mt-1 mb-3"><label id="t5">0</label> </h1>
                            <div class="mb-0">
                                <span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i></span>
                                Total Planned Shutdown
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card" style="background-color: #2677bb; color: white;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col mt-0">
                                    @*<h5 class="card-title">@DateTime.Now.AddMonths(-1).ToString("yyyy, MMM")</h5>*@
                                </div>
                                <div class="col-auto">
                                    <div class="avatar">
                                        <div class="avatar-title rounded-circle bg-primary-dark">
                                            <i class="align-middle" data-feather="crosshair"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h1 class="display-5 mt-1 mb-3"><label id="t6">0</label></h1>
                            <div class="mb-0">
                                <span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i></span>
                                Today's ESD Shutdown
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12 col-md-12 col-xxl-6 d-flex order-3 order-xxl-2">
        <div class="card flex-fill">
            <div class="card-header">
                <div class="card-actions float-end">
                   
                </div>
                <h5 class="card-title mb-0">Source Wise Complaint</h5>
            </div>
            <table id="datatables-dashboard-projects" class="table table-striped my-0">
                <thead>
                    <tr>
                        <th>Complaint Source</th>
                        <th class="d-none d-xl-table-cell">Today's</th>
                        <th class="d-none d-xl-table-cell">Today's Pending</th>
                        <th>Previous Pending</th>
                        <th class="d-none d-md-table-cell">Total Pending</th>
                    </tr>
                </thead>

            </table>
        </div>
    </div>
    <div class="col-12 col-md-12 col-xxl-6 d-flex order-3 order-xxl-2">
        <div class="card flex-fill">
            <div class="card-header">
                <div class="card-actions float-end">
                    
                </div>
                <h5 class="card-title mb-0">Category wise Complaint</h5>
            </div>
            <table id="datatables-dashboard-projects1" class="table table-striped my-0">
                <thead>
                    <tr>
                        <th>Complaint Category</th>
                        <th class="d-none d-xl-table-cell">Today's</th>
                        <th class="d-none d-xl-table-cell">Today's Pending</th>
                        <th>Previous Pending</th>
                        <th class="d-none d-md-table-cell">Total Pending</th>
                    </tr>
                </thead>

            </table>
        </div>
    </div>
</div>
<div id="loadPopUp">

</div>
<script>
    $(document).ready(function () {
         loadpage();
    });

    function showLoginmsg() {
            var message = '@TempData["loginmsg"]';
            var title = "Login Success";
            var type = "success";
            toastr[type](message, title, {
                positionClass: "toast-top-right",
                closeButton: "checked",
                progressBar: "checked",
                newestOnTop: "checked",
                rtl: $("body").attr("dir") === "rtl" || $("html").attr("dir") === "rtl",
                timeOut: 5000
            });
    }
    function loadpage() {
        var PendingComplaints = 0;
        var arrM = [];
        var arrTC = [];
        var arrTR = [];
        $.ajax({
            type: "GET",
            url: '/Dashboard/ComplaintSourceJson',
            contentType: "application/json; charset=utf-8",
            datatype: JSON,
            async: true,
            success: function (result) {
                //Tiles
                $('#t1').text(result.TodayComplaints).css('color', 'white');
                $('#t2').text(result.TodayPendingComplaints).css('color', 'white');
                $('#t3').text(result.PreviousPendingComplaints).css('color', 'white');
                $('#t4').text(result.TotalPendingComplaints).css('color', 'white');
                $('#t5').text(result.TotalPlannedShutdown).css('color', 'white');
                $('#t6').text(result.TodayESDShutdown).css('color', 'white');

                //Grid
                var datatablesButtons = $('#datatables-dashboard-projects').DataTable(
                    {
                        data: result.ListSourceWiseComplaintData,
                        columns: [
                            { 'data': 'ComplaintSource' },
                            { 'data': 'Today' },
                            { 'data': 'TodayPending' },
                            { 'data': 'PreviousPending' },
                            { 'data': 'TotalPending' },
                        ],
                        processing: true,
                        fixedHeader: true,
                        destroy: true,
                        bFilter: false,
                        pageLength: 15,
                        lengthChange: false,
                        bFilter: false,
                        autoWidth: true
                    });
                //Grid
                var datatablesButtons1 = $('#datatables-dashboard-projects1').DataTable(
                    {
                        data: result.ListCategoryWiseComplaintData,
                        columns: [
                            { 'data': 'ComplaintCategory' },
                            { 'data': 'Today' },
                            { 'data': 'TodayPending' },
                            { 'data': 'PreviousPending' },
                            { 'data': 'TotalPending' },
                        ],
                        processing: true,
                        fixedHeader: true,
                        destroy: true,
                        bFilter: false,
                        pageLength: 15,
                        lengthChange: false,
                        bFilter: false,
                        autoWidth: true
                    });


            },
            error: function (data) { }
        });
    }

    $(function () {
        $('#datetimepicker-dashboard').datetimepicker({
            inline: true,
            sideBySide: false,
            format: 'L'
        });
    });


    var HarasmentcomplaintShow = function (cmonth, compstatus) {
        var TeamDetailPostBackURL = '/Dashboard/HarasmentcomplaintShow';
        let month = 0;
        if (cmonth == -1) {
            const d = new Date();
            month = d.getMonth() + 1;
        }
        else {
            month = 0;
        }

        $.ajax({
            type: "GET",
            url: TeamDetailPostBackURL,
            contentType: "application/json; charset=utf-8",
            data: { "compstatus": compstatus, "cmonth": month },
            datatype: "json",
            success: function (data) {
                $('#loadPopUp').html(data);
                $("#complaintPopup").modal('show');
            },
            error: function () {
                alert("Dynamic content load failed.");
            }
        });
    }

</script>

@if (TempData["loginmsg"] != null)
{
    <script>
        showLoginmsg();
    </script>
}